# Dependencies
node_modules/
frontend/node_modules/
backend/__pycache__/
*.pyc

# Next.js
frontend/.next/
frontend/out/
frontend/build/

# Production
frontend/dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
